:root {
  /* Rose Colors */
  --rose-800: #7a284e;
  --rose-50: #fff7fb;

  /* Stone Colors */
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;

  /* Brown Colors */
  --brown-800: #854632;

  /*White Colors*/
  --white: #ffffff;

  /* Spacing */
  --spacing-1600: 12.8rem;
  --spacing-600: 4.8rem;
  --spacing-500: 4rem;
  --spacing-400: 3.2rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
  --spacing-150: 1.2rem;
  --spacing-100: 0.8rem;
}

/* Outfit Font */
@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

/* Young Serif Font */
@font-face {
  font-family: "Young Serif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--stone-100);
  padding: var(--spacing-1600);
  font-family: "Outfit";
}

.recipe-card,
header {
  background-color: var(--white);
  max-width: 74rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-500);
  margin: 0 auto;
}

.recipe-card {
  border-bottom-left-radius: 2.4rem;
  border-bottom-right-radius: 2.4rem;
}

header {
  border-top-left-radius: 2.4rem;
  border-top-right-radius: 2.4rem;
}

.img-container {
  width: 100%;
  height: 30rem;
  margin-bottom: var(--spacing-500);
}

.recipe-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.2rem;
}

.recipe-title {
  color: var(--color-stone-900);
  font-family: "Young Serif";
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.recipe-description {
  color: var(--stone-600);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-top: var(--spacing-300);
}

.recipe-preparation {
  margin: var(--spacing-400) 0;
  padding: var(--spacing-300);
  background-color: var(--rose-50);
  border-radius: 1.2rem;
}

.preparation-title {
  color: var(--rose-800);
  font-family: Outfit;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin-bottom: var(--spacing-200);
}

ul > li,
ol > li {
  color: var(--stone-600);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding-left: var(--spacing-200);
  margin-left: 3rem;
  margin-bottom: 3em;
}

ul > li:not(:last-child),
ol > li:not(:last-child) {
  margin-bottom: var(--spacing-100);
}

.preparation-info > li::marker {
  color: var(--rose-800);
  padding-left: 500px;
}

h2.section-title {
  color: var(--brown-800);
  font-family: "Young Serif";
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: var(--spacing-300);
}

.ingredients-list > li::marker {
  color: var(--brown-800);
}

.recipe-ingredients,
.recipe-instructions {
  margin-bottom: var(--spacing-400);
  padding-bottom: var(--spacing-400);
  border-bottom: 1px solid var(--stone-150);
}

.nutrition-info {
  color: var(--stone-600);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: var(--spacing-300);
}

.nutrition-table {
  border-collapse: collapse;
  color: var(--stone-600);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
}

.nutrition-table td {
  padding-left: var(--spacing-400);
  padding: var(--spacing-150) var(--spacing-400);
}

.nutrition-table td:last-child {
  color: var(--brown-800);
  font-weight: 700;
}

.nutrition-table tr:not(:last-child) td {
  border-bottom: 1px solid var(--stone-150);
}

/* Media Queries */

/* Tablet Design  */
@media (max-width: 768px) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  }

  body {
    padding: var(--spacing-600);
  }

  .recipe-card {
    max-width: 100%;
  }
}

/* Mobile Design  */
@media (max-width: 480px) {
  body {
    padding: 0;
  }

  .recipe-card {
    padding: var(--spacing-400);
    max-width: 100%;
    border-radius: 0;
  }

  header {
    padding: 0;
  }

  .img-container {
    align-self: stretch;
  }

  .recipe-title {
    font-size: 3.6rem;
  }

  h2.section-title {
    font-size: 2rem;
  }
  .nutrition-table td {
    padding: var(--spacing-100) var(--spacing-200);
  }
}
